<div class="container text-center">
    <h1>About Page</h1>
    <p>We are Apple Pie Lovers. We adore to try new tastes of them all over the world 
    and then we select the most amazing recepies for you. Apple Pies are our passion,
    we make them with a little bit of magic. We make them with love. </p>
</div>