<div class="home-callout text-center container-fluid">
    <h1>Welcome to ApplePie World</h1>
    <h3>A site where you can find, cook and enjoy different kinds of apple pies from all over the world</h3>
</div>